#body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: helvetica;
    margin: 0;
}

#menu {
    background-color: #B2BBAD;
    margin: 2px;
}

.titulo{
    background-color: rgb(83, 80, 221);
    color: rgb(0, 0, 0);
    margin: 0;
    border: 18px 0;
    padding: 14px;
    text-align: center;
    /*position: sticky;
    top: 0;
    right: auto;
    bottom: auto;
    left: auto;*/
    width: 100%;
}

.bt_menu{
    background-color: rgb(232, 59, 195);
    color: rgb(0, 0, 0);
    position: fixed;
    top: auto;
    right: 20px;
    bottom: 0;
    left: auto;
    border-style: solid;
    border-width: 2px;
    padding: 14px;
    border-radius: 10px;
    margin: 20px;
    font-weight: bold;
}

.imagem{
    text-align: center;
}

.imagem-canto{
    position: relative;
    float: left;
    margin: 0 20px;
}

h3{ 
    margin:0 6px;
}

h4{
    margin: 18px 6px;
}

p{
    margin: 0 20px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

footer{
    background-color: rgb(232, 59, 218);
    font-size: 12px;
    font-style: oblique 40deg;
    text-align: right;
    
}